/* mobail sm devices  responsive */
@media screen and (max-width:376px) {
    .header-main{
        flex-direction: column;
    }
   .header-menu ul{
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    gap: 20px;
   }
   .action-box {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 25px;
    padding: 3px 3px;
    margin-bottom: 4px;
    margin-right: 5px;
    text-align: center;
    border: 1px solid white;
}
   .positio {
    width: 174px;
    height: 142px;
    position: relative;
    top: -146px;
    right: 9px;
}
   .gamer-content p{
    padding: 14px;
   }
   .install{
    padding-bottom: 0px;
   }
   
   .header-menu{
    padding: 0px;
   }
   .bannar{
    flex-direction: column;
   }
   .game-main {
    flex-direction: column;
   }
   .online-main {
    flex-direction: column;
    gap: 1px;
   }
   .online-img {
    padding: 15px 33px;
    text-align: center;
}
   .install{
    flex-direction: column;
   }
   .list-group{
    flex-wrap: wrap;
   }
   .bannar-content h4 {
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 2px;
}
img{
    
    height: 60%;
    width: 100%;

}
.bannar-content h2{
    font-size: 30px;
}
.bannar-content p {
    margin-bottom: 8px;
    font-size: 12px;
}
a.bannar-btn{
    padding: 4px;
}
.gamer-content{
    text-align: center;
}
.online-img {
    padding: 33px;
    text-align: center;
}
.install-content h4 {
    font-size: 25px;
    text-align: center;
}
.install-content p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 11px;
}
.online{
    padding: 0px;
}
.install-pictures {
    height: 400px;
    text-align: center;
}
.action-photo img {
    width: 36px;
    height: 42px;
    text-align: center;
}
.action-content h4 {
    font-size: 10px;
}
}
/* mobail lg devices  */
@media screen and (max-width:426px) {
    .header-main{
        flex-direction: column;
    }
    .action-box {
        display: flex;
        align-items: center;
        gap: 2px;
        margin-bottom: 25px;
        padding: 3px 3px;
        margin-bottom: 4px;
        margin-right: 5px;
        text-align: center;
        border: 1px solid white;
    }
    .action-photo img {
        width: 36px;
        height: 42px;
        text-align: center;
    }
    .action-content h4 {
        font-size: 10px;
    }
    .positio {
        width: 174px;
        height: 142px;
        position: relative;
        top: -146px;
        right: 9px;
    }
    .install-pictures {
        height: 400px;
        text-align: center;
    }
   .header-menu ul{
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    gap: 20px;
   }
   .gamer-content p{
    padding: 14px;
   }
   .install{
    padding-bottom: 0px;
   }
   
   .header-menu{
    padding: 0px;
   }
   .bannar{
    flex-direction: column;
   }
   .game-main {
    flex-direction: column;
   }
   .online-main {
    flex-direction: column;
    gap: 1px;
   }
   .online-img {
    padding: 15px 33px;
    text-align: center;
}
   .install{
    flex-direction: column;
   }
   .list-group{
    flex-wrap: wrap;
   }
   .bannar-content h4 {
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 2px;
}
img{
    
    height: 60%;
    width: 100%;

}
.bannar-content h2{
    font-size: 30px;
}
.bannar-content p {
    margin-bottom: 8px;
    font-size: 12px;
}
a.bannar-btn{
    padding: 4px;
}
.gamer-content{
    text-align: center;
}
.online-img {
    padding: 33px;
    text-align: center;
}
.install-content h4 {
    font-size: 25px;
    text-align: center;
}
.install-content p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 11px;
}
.online{
    padding: 0px;
}
.rogue {
    padding: 9px 17px;
    border-radius: 28px;
    font-size: 11px;
}
button.singup {
    padding: 10px 13px;
    font-size: 11px;
    border-radius: 31px;
}
.bannar {
    height: 442px;
    padding: 40px;
}
}

    

/* tablat devices responsive */
@media  screen and (max-width:769px) {
    img {
        height: 100%;
        width: 60%;
    }
    .bannar {
        padding: 40px;
        display: flex;
        justify-content: space-between;
        height: 300px;
        background-image: url(img/Group\ 14.png);
    
       
    }
    button.singup {
        padding: 10px 13px;
        font-size: 11px;
        border-radius: 31px;
    }
    .rogue {
        margin-left: 10px;
        padding: 9px 17px;
        font-size: 11px;
    }
    
    .bannar-content h4 {
        font-size: 26px;
        margin-bottom: 1px;
       
    }
    .bannar-content h2{
        font-size: 35px;
       
    }
    
    .gamer-content {
        /* text-align: right; */
        width: 50%;
        padding: 29px;
    }
    
}
/* laptop devices responsive  */
@media screen and (max-width: 1024px) {
    
}


