*{
    padding: 0;
    margin: 0;
}
/* google font css link here */
body{
    font-family: 'Work Sans', sans-serif;
}
main{
    max-width: 1140px;
    margin: auto;
}
img{
    height: 100%;
    width: 100%;
}
.header-main{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    background-color: #fff;

}
.header-logo{
    display: flex;
    align-items: center;

}
.header-logo img {
    width: 61px;
    height: 32px;
    padding-right: 14px;
}
.header-logo h4 {
    font-size: 34px;
}

.header-logo span {
    color: #ff42a5;
    text-transform: uppercase;
}
.header-menu ul{
    display: flex;

}
.header-menu ul{
    list-style: none;

}

.header-menu ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 17px;
    margin-left: 20px;
    color: #3C354F;

}
.header-menu .fa-brands{
    color: red;
}
.header-menu .fa-tiktok{
    color: black;
}
a.bannar-btn {
    background: rgba(11, 2, 35, 0.10);
    padding: 12px;
    border-radius: 5px;
}
.bannar{
    background-image: url(img/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 700px;
}

.bannar-content h2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
   font-size: 77px;
   

}
.bannar-content h4 {
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 13px;
}
.bannar-content p{
    margin-bottom: 15px;

}
button.singup {
    border: none;
    color: white;
    text-transform: capitalize;
    background: #FF42A5;
    padding: 13px 22px;
    font-size: 15px;
    border-radius: 31px;
}
.rogue {
    border: none;
    color: white;
    margin-left: 11px;
    background: #4EC5F7;
    padding: 13px 24px;
    border-radius: 28px;
    font-size: 15px;
}
/* bannar section end */
/* gamer section start */
.gamer-btn {
    border: none;
    color: white;
    text-transform: capitalize;
    background: #FF42A5;
    padding: 13px 22px;
    font-size: 15px;
    border-radius: 31px;
    margin-bottom: 13px;
}
.gamer{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}
.game-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.gamer-pictures{
    width: 50%;
}
.gamer-content{
    text-align: right;
}
.gamer-content h3 {
    font-size: 26px;
    margin-bottom: 13px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-content p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 13px;
}
/* gamer section end */
/* online section start */
.online-main {
    display: flex;
    justify-content: space-around;
    gap: 33px;
    padding: 40px 0px;
}
.online-text{
    text-align: center;
}
.online-text h3 {
    font-size: 40px;
    margin-bottom: 10px;
}
.online-text h4 {
    font-size: 11px;
}
.online{
    padding: 50px 0px ;
}
.online-text span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.hover-conten h3{
    color: #F948B2;
}
.online-img h4 {
    font-size: 13px;
    line-height: 17px;
}
/* online-section end */
/* install section start */
.install {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 145px;
}
.install-pictures{
    height: 400px;
}
.positio {
    width: 200px;
    height: 230px;
    position: relative;
    top: -173px;
    right: 100px;
}
.install-content h4 {
    font-size: 29px;
    text-align: right;
}
.install-content span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.install-content p {
    text-align: right;
    font-size: 16px;
    line-height: 22px;
}
/* install section end */
/* actione gamer section start */

.action-gamer{
    display: flex;
    /* grid-template-columns: repeat(5, 1fr); */
    align-items: center;
    flex-wrap: wrap;
   justify-content: center;

}
.action-box{
    display: flex;
    align-items: center;
    gap: 11px;
    margin-bottom: 25px;
    padding: 14px 7px;
    margin-bottom: 25px;
    margin-right: 5px;
    text-align: center;
    border: 1px solid white;
 
}
.action-box:hover{
  
   
    border: 1px solid #F948B2;
    border-radius: 50px;
    color: #F948B2;
}

.action-photo img{
    width: 50px;
    height: 55px;
}

/* action gamer section end */
/* footer section start */
.footer-main{
    background-color: #0B0223;
    padding: 50px;
    color: white;

}

.footer-pictures{
    display: flex;
    justify-content: center;

}
.footer-pictures img {
    width: 56px;
    height: 28px;
    margin-right: 18px;
    margin-bottom: 25px;
}

.list-group{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.icon{
    text-align: center;
}
.footer-group{
    display: flex;
    justify-content: center;
}
.footer-title{
    text-align: center;
}
.footer-pictures span{
    color: #F948B2;

}
.footer-pictures h4 {
    font-size: 30px;
}
.list-group h4 {
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 18px;
}
.icon {
    padding: 10px;
}
.footer-group{
    color:rgba(255, 255, 255, 0.60);
    font-size: 14px;
}
.footer-group h4 {
    margin-bottom: 11px;
    margin-left: 18px;
    font-weight: 500;
}
.footer-title{
    color:rgba(255, 255, 255, 0.60);
    font-size: 14px;
    margin-bottom: 11px;
    margin-left: 18px;
    font-weight: 500;

}
.hover-conten {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    top: -259px;
    visibility: hidden;
    opacity: 0;
 
}
.online-img:hover  .hover-conten{
    visibility: visible;
    opacity: 1;


}
.hover-conten h4{
    color: #F948B2;
    font-size: 21px;
}
.hover-conten .fa-solid {
    color: white;
    font-size: 30px;

}
